{% extends 'layout.html' %}

{% block body %}
<h1>About</h1>
<div class=" " style="display:flex;" >
<div style="flex: 33.33%; padding: 5px;">
<img src="http://cse.iitkgp.ac.in/~smisra/swan/images/iitkgp_logo.png" width="100%">
</div>
<div style=" font-family: Times New Roman Header, Times, serif; text-align:center; flex: 33.33%; padding: 5px;"> SWAN </div>
<div style="flex: 33.33%; padding: 5px;">
<img src="http://cse.iitkgp.ac.in/~smisra/swan/SWAN-Logo.png" width="100%">
</div>
</div>
{% endblock %}
