{% extends 'layout.html' %}
{% block style %}

<style>

.card {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	
	
}

.card:hover, .card:focus , {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
	transition: 0.8s;

}


</style>

{% endblock %}

{% block body %}
<div style="padding:30px;background-color: transparent;background: url('/static/sensor.png') fixed center no-repeat;">
	<h1 style="background-color: transparent;"> Welcome <small> {{session.Firstname}}</small></h1>
 <!--
  <hr>
-->
<br style="background-color: transparent;" > 
<div class="container" style="width:100%;" >
	<!-- Single button -->
	<div class="row">
		{% for Region in Regions %}
		{% if Regions.index(Region)%2 == 0 %}  


		{% for Reg in Region %}

		<div class="card col-sm-3" style=" padding: 5px; margin:10px;background-color: transparent;"> 
			<img src="/static/motion-sensor.png" style="width:50%;opacity:0;" alt="">
			<form action="" method="GET" style="padding: 5px" id="{{ Reg }}" name="{{ Reg }}" onsubmit="" >


				<div class="btn-group" >
					<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="saveRegion('{{ Reg }}')" style="width: 140px" > 

						{{Reg}}
						{% endfor %} 

						<span class="caret"></span>
					</button>
					
					<ul class="dropdown-menu but2">
						{% set count = namespace(a=0) %}
						{% for R in Regions[Regions.index(Region)+1] %}
						
						<li>
							
							{% for r in R %}
							{% if R.index(r)%2==0 %}
							<!--	<form action="" method=""> -->
								<div class="form-check" style="padding:5px; ">
									{{ R[1] }}<input class="form-check-input pull-right" type="checkbox" value="{{ r }}" id="{{ r }}" name="{{ r }}" onclick="saveSensor('{{ r }}')" >
									{% else %}{% endif %}						
									{% endfor %}
								</div>
								{% set count.a = count.a + 1 %}
							</li>

							{% endfor %}
						</ul>
					</div>	
					<br>
				</form>
			</div>

			{% else %}
			{% endif %}	

			{% endfor %}
		</div>
		<br>
		<br>

		<div id="successAlert" class="alert alert-success" role="alert" style="display:none;" >
		</div>
		<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">
		</div>
		<br>
		<div class="pull-right">	
			<button id="go" type="submit" class="btn btn-success" onclick="checkCheckbox()" >Go</button>               	
			<br> 
		</div>

	</div>
	<br>
</div>
{% endblock %}

{% block script %}
<script>




	var data=[];
	var region=[''];
	var R = '';
	var i=0;

	function saveRegion(Reg){
		
		R=Reg;

		console.log(region.length);
	}
	function saveSensor(r){
		var checkBox = document.getElementById(r);	
		if (checkBox.checked == true){
			if(region.indexOf(R)>=0){
				console.log("region present");	
			}
			else{	
				
				region.push(R)
			}

		}
		else{
		}  }      



		
		

		function checkCheckbox(){
			result = [];
			if(region.length <=1){
				alert("Please select");
			}
			console.log(region.length);
			for(let k =1; k < region.length ;++k ){
				$('#'+ region[k] + ' input[type="checkbox"]').each(function(){

					if($(this).is(":checked")){
						result.push( {"region": region[k], 
							"type": this.value });

						data.push(this.value);			
						
					}	
					
				});
				
			}
			

			output = []; 		
			for (let i =0; i < result.length; ++i) {
				output.push(' '+result[i].region+' : '+result[i].type+' ');			
				console.log("...."+output[i]+".....");
				
/////////////////////////////////////////////////////////

value = []	
$.post( "/results", {
	data : output[i],
	
})
.done(function(data){
	console.log(data);
	value.push(data);
	$('#errorAlert').text(value).show();
});

/////////////////AJAX TRY///////////////////////////////

///////////////////AJAX END////////////////////////////

$('#successAlert').text(output).show();
}
			//alert(output);
			
			
			//$('#successAlert').text(output).show();	
			
			console.log(result[0].region);
			console.log(output);
			delete output;
			delete result;
			

		}
//////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////
</script>
{% endblock %}


