{% extends 'layout.html' %}

{% block body %}
<div class="login">
	<div class="loginform" style="text-align:center" >
  <h1>Download Setup Docs v1.0 </h1>
	</div>
	<div class="loginform" style="text-align:center; background:#145a32;  margin:2px; " >
 <a href="/static/SENSOR CLOUD SETUP MANUAL.pdf" style="text-decoration:none;color:#fff;" download>   
<h4> Sensor Cloud </h4> </a>
	</div>
	<div class="loginform" style="text-align:center; background:#145a32; margin:2px;"  >
 <a href="/static/SENSOR NODE SETUP MANUAL.pdf" style="text-decoration:none;color:#fff;"  download>   
<h4>Sensor Nodes </h4> </a>
	</div>
</div>
{% endblock %}
